<!--            <button onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:document.location.href='/list/short';"-->
<!--                    class="btn link-more w-100 mt-1 mb-5" data-cf-modified-450c306a216907db14f18368-="">看更多短片最新-->
<!--            </button>-->
</section>
</div>
</div>
<footer class="footer" style="color: #fff">
    <div class="container">
        <div class="js-vserson hidden"></div>
        <div class="text-center">
            友情链接 -
            <%
            for(var keys=0;keys<frends.length;keys++){
            var item=frends[keys]
            %>
            <a target="_blank" href="<%=item.href%>"><%=item[`title${tplLang}`] || item[`title`]%></a> |
            <%
            }
            %>
        </div>
        <div class="text-center">
        <a href="/about" target="_blank" title="关于我们">关于我们</a> - <a href="/about" target="_blank" title="免责声明">免责声明</a> -
        <a href="/about" target="_blank" title="关于我们">港澳台合作聯盟</a>  armandolailah70591@gmail.com
        - <a href="/sitemap.xml" target="_blank" title="网站地图">网站地图</a><br><br>本站不提供任何视听上传服务，所有内容均来自视频分享站点所提供的公开引用资源。<br>Copyright
        <p class="text-center">© porncvd 2020 </p>
        </div>
    </div>
</footer>
<div class="js-dp-box"></div>

<script>
    var lazyload = new LazyLoad({
        elements_selector: '.lazyload',
        class_loading: 'lazy-loading',
        class_loaded: 'lazy-loaded',
        attr_to_webp: 'data-not-to-webp',
        //parentLoadingClass: LOADING_PARENT_CLASS,
        callback_error: function (el) {
            // 背景图不存在不触发此回调
            var src = el.getAttribute('data-src').replace(/\.webp/gi, '');
            if (el.tagName === 'IMG') {
                el.setAttribute('src', src);
            }
        }
    });

    <%
        if(orders_id){
        %>
            if(location.href.match(/\/javs\/[0-9a-z]+.html/gi) && $(".mgplaylist a[href^='/tag']").length){
                var recordId= location.href.match(/\/javs\/[0-9a-z]+.html/gi)[0].replace(/\/javs\/|\.html/gi,'')
                setTimeout(function () {
                    $.ajax({
                        url : '/javs/vipRecord.html',
                        type:'post',
                        data:{id:recordId},
                        success : function(result) {

                        }
                    });
                },199900)
            }
        <%
        }
        %>
        function delay(millisecond) {
            return new Promise(resolve => {
                setTimeout(() => {
                    resolve()
                }, millisecond*1000)
            })
        }
        function delAll(){
            for(var i = 1; i < 1000; i++) {
                   if(![window.videoTime].includes(i)){
                        clearInterval(i);
                    }
             }
            $('.gogo-sd-yu-js').nextAll().remove()
            $('header').prevAll().remove()
            $('body').removeAttr('style')
        }
        var isVd=$('#dplayer').length
        window.vaidResult=function(){
            if(decodeURIComponent(sessionStorage.getItem('pagePath'))  == location.pathname){ return false}
            var rank=sessionStorage.getItem('poweredbyData') ? JSON.parse(sessionStorage.getItem('poweredbyData')) :''
            var rankObj={}
            if(rank){
                rank.forEach(function(v){
                    rankObj[v]=''
                });
            }
            rank={rank:rank ? rankObj : ''}
            delete rank.rank['time']
           $.ajax({
                type : "post",
                url : 'https://serve.porncvd.com/poweredby-test',
                data:rank,
                success : async function(tpl) {
                   var pagecount=sessionStorage.getItem('pagecount') || 1
                   pagecount=parseInt(pagecount)
                //   if(pagecount%2 !=0 ||  isVd){
                //       $('body').append(tpl.en)
                //   }else{
                //       delete tpl.en
                //   }
                //   delete tpl.jsqw
                  var rankData=Object.keys(tpl) 
                  var fisrtDoc=rankData.splice(0,1)
                 
                  rankData.push(fisrtDoc[0])
                  sessionStorage.setItem('poweredbyData', JSON.stringify(rankData));
                  sessionStorage.setItem('pagePath', location.pathname);
                  sessionStorage.setItem('pagecount', pagecount+1);
                  var page=[]
                  var delayTime=8
                  for(var key in tpl){
                    if(key.indexOf('fix') > -1){
                        $('.js-fix').each(function(){
                            if(!$(this).hasClass('js-finish')){
                               $(this) .append(tpl[key]).addClass('js-finish')
                               return false
                            }
                        })
                    }else{
                        page.push(tpl[key])
                    }  
                    if(key == 'time'){
                        delayTime=parseInt(tpl[key])
                        delete tpl[key]
                    }
                  }
          
                   for (const [idx, item] of page.entries()) {
                        $('body').append(item)
                        //isVd ? 13 : 8
                        // await  delay(isVd ? (delayTime) : delayTime)
                        // delAll()
                        // $('body,html').removeAttr('style')
                       
                    }
                    sessionStorage.setItem('pagealert',1);
                }
            });
        }
        // if(!isVd){
        //     vaidResult()
        // }
       
        vaidResult()

   
</script>
<div style="max-width:200px; font-size: 12px; word-wrap: break-word; text-align:center; background-color: #ffffff; border: 1px solid #dddddd; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); box-shadow: 0 1px 1px rgba(0,0,0,0.05);">
    <div style="color: #333333; background-color: #f5f5f5; padding:5px; border-bottom: 1px solid #dddddd;">
      <a style="color: #008cba; text-decoration: underline;" href="https://www.ez-online.org/cost/porncvd.com" target="_blank">
        porncvd.com    </a>
    </div>
    <div style="padding:5px; color: #222222; line-height: 1.5;">
      網站價值<br/>
      &#8226;&nbsp;<span style="font-size: 14px"><strong>NTD 10,467,179</strong></span>&nbsp;&#8226;
    </div>
  </div>
 <!-- <script async src="https://porncvd.com/hj.js?osd7ff6f7gh=1"></script>  -->
 <!-- <script async type="text/javascript" src="//gmxvmvptfm.com/aas/r45d/vki/1994695/258d3930.js"></script>							 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/boston-dev/status@1.0/layer_mobile/need/layer.css">
<script src="https://cdn.jsdelivr.net/gh/boston-dev/status@1.0/layer_mobile/layer.js"></script>

<div class="gogo-sd-yu-js"></div>

</body>
</html>
