<div class="row video-list mobile-row js-tpl-view">
    <div class="col-sm-6 col-md-4 col-lg-3">
       <div class="mb-4 js-fix">
        <script type="text/javascript">
            atOptions = {
                'key' : '46da2951d266088728c8d1654e2daf1c',
                'format' : 'iframe',
                'height' : 250,
                'width' : 300,
                'params' : {}
            };
        </script>
        <script async src="https://www.profitablecreativeformat.com/46da2951d266088728c8d1654e2daf1c/invoke.js"></script>
       </div>
    </div>
    <!--<div class="col-sm-6 col-md-4 col-lg-3">-->
    <!--    <div class="mb-4 js-fix">-->
          
    <!--    </div>-->
    <!--</div>-->
    <%
    for(var keys=0;keys<docs.length;keys++){
    var item = docs[keys];
    %>
    <%
    if(keys == 2){
    %>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mb-4 js-fix">
            <script type="text/javascript">
                atOptions = {
                    'key' : '26180614906d31bf62681be9496aade8',
                    'format' : 'iframe',
                    'height' : 50,
                    'width' : 320,
                    'params' : {}
                };
            </script>
            <script async src="https://www.profitablecreativeformat.com/26180614906d31bf62681be9496aade8/invoke.js"></script>
            <script async type='text/javascript' src='//pl20557031.highcpmrevenuegate.com/90/0b/ef/900bef957c7ae237638a79e549d59900.js'></script>
        </div>
     </div>
    <%
    }
    %>
    <div class="col-sm-6 col-md-4 col-lg-3 js-view-item">
        <div class="mb-4">
            <div class="position-relative">
                <a  href="<%= item.href ? item.href : '/javs/'+item._id+'.html'%>">
                    <img class="img-fluid rounded lazyload video-list-image  "
                         data-src="<%= item.source %><%=item.img%>"
                         title="<%=item[`title${tplLang}`] || item[`title`]%>"
                         src="https://puui.qpic.cn/vupload/0/common_pic_v.png/0"
                         alt="<%=item[`title${tplLang}`] || item[`title`]%>"
                         />
                </a>
<!--                <div class="position-absolute icon-block icon-block-short-mobile">-->
<!--                    <div class="float-left length-icon"><%=item.time%></div>-->
<!--                    <div class="clearfix"></div>-->
<!--                </div>-->
            </div>
            <div class="mt-1">
                <h3 style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap; " class="video-title video-title-short-mobile">
                    <a href="<%=item.href%>"
                       itemprop="url"><span itemprop="name"><%=item[`title${tplLang}`] || item[`title`]%></span></a>
                </h3>
                <div class="mt-1 video-list-counter">
                    <div class="float-left"><span class="iconicfill-eye"></span> <%=(Math.random()+'').match(/[1-9]/gi)[0]%>k</div>
                    <div class="float-right"><span class="iconicfill-heart-fill"></span> <%=(Math.random()+'').match(/[1-9]/gi)[0]%>k</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <%
    }
    %>
</div>
<%
if(typeof range != "undefined"){
%>
<div class="d-flex align-items-center justify-content-center">
    <ul class="pagination">
        <%
        for(let k=0;k<range.length;k++){
        %>
        <li class="page-item  <%=range[k].class%>">
            <%
            if(range[k].href){
            %>
            <a class="page-link" href="<%=range[k].href%>"><%=range[k].text ||  range[k].title%></a>
            <%
            }else{
            %>
            <a class="page-link" href="javascript:;"><%=range[k].text ||  range[k].title%></a>
            <%
            }
            %>
        </li>
        <%
        }
        %>
    </ul>
</div>

<%
}
%>

