<style>
	.dsydu{
		display: inline-block;
		width:100% !important;
	}
	.dsydu-href{
	display: block;
	text-align: center;
	}
	@media (min-width: 560px){
     .dsydu{
       width:960px !important;
       
     }
     .dsyfe{
             width: 960px;
    display: inherit;
    margin: 0 auto;
     }
   }
 
</style>
<a class="dsyfe" style="margin-bottom: 8px;display: block;" target="_blank" href="https://uscvd.com" class="dsydu-href">
  <img class="dsydu lazyload"
  src="https://ae01.alicdn.com/kf/Hb947fd654e534c84a94fd8d27f4feb16l.jpg/images/thumbnail.png/images/thumbnail.png"
  data-src="https://porncvd.com/20230717_qc_956264.gif" alt="">
</a>
